{% extends 'stocks/base.html' %}

{% block title %}Guide{% endblock %}>

{% block content %} 
        <h1>Guide Page</h1>
        <br>
        <h2>Advised Trading Strategy:</h2>
        <br>
        <p>The price displayed should be primarily used as a guide for the general market direction. As a result, despite the price being inaccurate on many occasions, the direction of the predicted price is aimed to be of very high accuracy. Due to this, it is recommended that you open trades (buy/sell) based on the general direction of the predicted price compared to the current price and close those trades immediately at the prediction duration (eg: if "1 minute" selected, close the trade at the end of the current minute).</p>
        <p>If you would like to utilise stop-loss and take-profits to mitigate large loses, it is suggested to use a standard 3:1 or 2:1 take-profit to stop-loss ratio.</p>
{% endblock %}